.btn {
  --btn-bg-color: var(--text-color-primary);
  --btn-color: var(--bg-color);
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  border-radius: 0.5rem;
  font: var(--fw-md) var(--fs-base)/1.5rem var(--ff-sans);
  cursor: pointer;

  background-color: var(--btn-bg-color);
  color: var(--btn-color);
}

.btn:hover {
  background: linear-gradient(
    90deg, 
    var(--brand-color-secondary) 0%, 
    var(--brand-color-primary) 100%
    );
  --btn-color: var(--surface-color);
  --webkit-background-clip: initial;
  background-clip: initial;
  color: var(--btn-color);

}

.btn-sm {
  font-size: var(--fs-sm);
  padding: .5rem 1rem;
}
.btn-md {
  font-size: var(--fs-base);
  padding: .75rem 1.5rem;
}
.btn-lg {
  font-size: 1.125rem;
  padding: 1rem 2rem;
}

.btn[aria-label] {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    background-color: var(--bg-color);
    inset: 1px;
  }

  &::after {
    content: attr(aria-label);
    background: var(--text-color-primary);
    --webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    z-index: 1;
  }

  &:hover::after {
    background: linear-gradient(
      90deg, 
      var(--brand-color-secondary) 0%, 
      var(--brand-color-primary) 100%
      );
      --webkit-background-clip: text;
      background-clip: text;
  
  }
}