* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* produto */
  --brand-gradient: linear-gradient(180deg, #FC4A1A 0%, #F7B733 100%);
  --brand-color-primery: #F7B733;
  --brand-color-secondary: #FC4A1A;

  /* base*/
  --background-color: #09090B;
  --surface-color: #18181B;
  --stroke-color: #27272A;
  --text-color-secondary: #A1A1AA;
  --text-color-primary: #F4F4F5;
  
  /* tipografia */

  font-family: 'inter', sans-serif;

  
}